EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyA3KOtzQ1VzVdCEflOr8_LRgvGk22IaAeI
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=projeto-app-dp.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=projeto-app-dp
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=projeto-app-dp.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=974271973532
EXPO_PUBLIC_FIREBASE_APP_ID=1:974271973532:web:deb9699fd6a0b3a5758559

# true para usar os emuladores locais (npm run emulators) em vez do projeto real
EXPO_PUBLIC_USE_FIREBASE_EMULATOR=false
